<div class="list-grid-container">
    {{#each body}}
        <div class="grid-column">
            <div class="column-square-div">
                <a href="{{url}}" class="external-link">
                {{!-- <a href="/edit/{{_id}}/" class="form-link"> --}}
                    <img src="{{this.thumbnail}}" alt="Image">
                </a>
                {{!-- <div class="delete-button">
                    <button type="delete" class="delete-button-image">
                        <img src="https://cdn-icons-png.flaticon.com/512/54/54973.png" alt="" class="delete-image">
                    </button>
                </div> --}}
            </div>
            <div class="item-attributes">
                <div class="item-container-name">
                    {{name}}
                </div>
                <div class="item-container item-type">
                    {{type}}
                </div>
            </div>
        </div>
    {{/each}}
</div>
